{% extends "_base.html" %}

{% block content %}

{% include "_base_title.html" with title=fullname %}

<section id="account" class="main flex-grow-1">
    <div class="account container">
      <div class="row align-items-center justify-content-center py-3">
        <h2>{{ user.email }}</h2>
      </div>
    </div>
</section>
{% include 'footer.html' %}
{% endblock content %}
