
<header id="user-name" class="presentation bg-user-name bg-primary mb-5 mt-0">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-center text-center">
        <h2 class="text-white font-weight-bold mb-5">{{ title|title }}</h2>
      </div>
    </div>
</header>
