{% extends "_base.html" %}

{% block content %}
  <!-- User name Section -->
  <header id="user-name" class="bg-user-name">
      <div class="container-fluid h-200">
        <div class="row h-100 align-items-center justify-content-center text-center">
          <h1 class="text-white font-weight-bold">Mentions légales</h1>
        </div>
      </div>
  </header>

  <!-- Mentions légales -->
  <section id="mentions-legales" class="flex-grow-1">
      <div class="container">
        <div class="row py-5 justify-content-center">
          <div class="col-md-8">
              <ul>
                <li>Créé avec <a href="https://www.djangoproject.com/" target="_blank">Django Framework</a></li>
                <li>Front-end template de <a href="https://startbootstrap.com/themes/creative/" target="_blank">Start Bootstrap</a></li>
                <li>Données issues de <a href="https://fr.openfoodfacts.org" target="_blank">OpenFoodFacts</a></li>
              </ul>
          </div>
        </div>
      </div>
  </section>
    {% include 'footer.html' %}
{% endblock content %}
