.bg-user-name{
  padding-top: 10rem;
  background: linear-gradient(
                  to bottom,
                  rgba(92,77,66,.8) 0,
                  rgba(92,77,66,.8) 100%),
  url("../assets/img/bg-masthead2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.bg-user-name h2{
  font-size: 3rem;
}

.nutri-grade{
  width: 400px;
  height: 400px;
}

.card-img{
  height: 300px;
  width: 300px;
}

.product_name{
  font-size: 1.2rem;
  color: #000000;
  margin: 20px auto;
}

.pagination{
  margin: 50px auto 40px;
}

.nutri-grade{
  font-size: 1.3rem;
}

.pagination a{
  color: #000000;
  margin-left: 10px;
}

//results' page design
.bg-product-search {
  padding-top: 10rem;
  background: linear-gradient(
                  to bottom,
                  rgba(92,77,66,.8) 0,
                  rgba(92,77,66,.8) 100%),
  url("../assets/img/bg-masthead2.jpg");
  background-repeat: no-repeat;
  background-position-x: 35%;
  background-position-y: 50%;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.my_products{
  margin:80px auto;
}

.account{
  height: 800px;
}

.signup{
  height: 100%;
  margin-bottom: 50px;
}