{% extends '_base.html' %}
{% block content %}
    <section id="errors" class="flex-grow-1">
        <div class="container height-container main">
          <div class="row align-items-center justify-content-center py-3">
            <h2>Produit déjà enregistré</h2>
          </div>
        </div>
    </section>
    {% include 'footer.html' %}
{% endblock %}