{% extends '_base.html' %}
{% load static %}

{% block content %}
    {% include '_base_title.html' %}
    <div class="my_products container main flex-grow-1">
        <div class="row mt-5 justify-content-center align-items-center">
            {% if not object_list %}
                <div class="row align-items-center justify-content-center mb-5">
                    <div class="alert alert-warning mt-5"> Aucun produit enregistré</div>
                </div>
            {% endif %}
            {% for product in object_list %}
                <div class="row align-items-center justify-content-center">
                    <div class="col-11 col-lg-4 product-image">
                        <div class="product-thumb-myproduct">
                            <div class="nutriscore text-right">{{ product.product.nutrition_grades|upper }}
                                <a href="{% url 'products:details' product.product.id %}">
                                    <img src="{{ product.product.image_url }}" class="shadow-sm p-3 mb-5 bg-white card-img rounded mx-auto d-block" alt="">
                                </a>
                                <div class="product-thumb-legend mb-5">
                                    <div class="product_name text-center">
                                        {{ product.product.product_name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="new-arrow">
                      <button class="arrow -long -huge -roobios"><span class="visually-hidden"></span></button>
                    </div>
                    <div class="col-11 col-lg-4 product-image">
                        <div class="product-thumb-myproduct">
                            <div class="nutriscore text-right">{{ product.substitute.nutrition_grades|upper }}
                                <a href="{% url 'products:details' product.substitute.id %}">
                                    <img src="{{ product.substitute.image_url }}" class="shadow-sm p-3 mb-5 bg-white card-img rounded mx-auto d-block" alt="">
                                </a>
                                <div class="product-thumb-legend mb-5">
                                    <div class="product_name text-center">
                                        {{ product.substitute.product_name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if is_paginated %}
              <div class="pagination">
                  <span class="page-links">
                      {% if page_obj.has_previous %}
                          <a href="{{ request.get_full_path }}&page={{ page_obj.previous_page_number }}">Précédente</a>
                      {% endif %}
                      <span class="page-current">
                          Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
                      </span>
                      {% if page_obj.has_next %}
                          <a href="{{ request.get_full_path }}&page={{ page_obj.next_page_number }}">Suivante</a>
                      {% endif %}
                  </span>
              </div>
            {% endif %}
        </div>
    </div>
    {% include 'footer.html' %}
{% endblock %}